<p>
  <b>Description:</b>
  <%=h @experiment_event.description %>
</p>

<p>
  <b>Experiment:</b>
  <%=h @experiment_event.experiment_id %>
</p>


<%= link_to 'Edit', edit_experiment_event_path(@experiment_event) %> |
<%= link_to 'Back', experiment_events_path %>
